.section-2 {
    border-top: $font1 solid $color1;
    border-left: $font1 solid $color1;
    border-right: $font1 solid $color1;
    padding: $font2 ;  
    background-color: $color4;
    display: flex;
    @include center
    }

.section-2-ustawienia{
    border: $font1 solid  $color2;
    width: 400px; 
    height: auto;
    padding: 20px;
}
