$color1: rgb(51, 51, 222);
$color2: rgb(0, 0, 0);
$color3: rgb(216, 175, 175);
$color4:rgb(0, 13, 31);
$font1: 1em;
$font2: 1.2em;
$font3: 1.4em;
$font4: 1.6em;
$font5: 1.8em;
$font6: 2em;
$font7: 2.2em;
$font9: 25px;